<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>overview of my app</title>
</head>
<body style="text-align:center">
    <h1>
        wellcome to my book application
    </h1>

<div>
    <h2>
        technologies used in this project
    </h2>
     <h3>Database</h3>
     <p>MONGODB</p>
     <h3>
        API’s
     </h3>
     <p>FLASK</p>
     <h3>
        language
     </h3>
     <p>PYTHON</p>
</div>

<div>
    <h4>
        in this application i create many endpoint.<br>
        for get request i used <u><i><b>URL</b></i></u>.<br>
        and for post request i used <u><i><b>postmane</b></i></u>.
    </h4>
</div>
<div>
    <h4>
        these are my application endpoint given below
    </h4>
    <br>
    <div style="text-align:left;margin-left: 40%;">
    <h4>
        <pre><xmp>1) /api/get_name/<name></xmp><pre>
    </h4>
    <h3>method : GET</h3>
    
    <h5>INPUT - book name or a term in the name of the book<br>
        OUTPUT - list of all the books with that name or term in the book name
    </h5>
    </div>
    <div style="text-align:left;margin-left: 40%;">
    <br>
    <h4>
        <pre><xmp>2) /api/get_rent/<minR>/<maxR></xmp><pre>
    </h4>
    <h3>method : GET</h3>
    <h5>INPUT - rent price range<br>
        OUTPUT - list of books with rent in that range</h5>
        <br>
        <h4>
            <pre><xmp>3) /api/get_list/<name>/<cat>/<rent></xmp><pre>
        </h4>
        <h3>method : GET</h3>
        <h5>INPUT - category + name/term + rent per day(range)<br>
            OUTPUT - list of books with matching values as in input
        </h5>
        <br>
    </div>
    <div style="text-align:left;margin-left: 40%;">
        <h4>
            <pre><xmp>4) /api/book_issue</xmp><pre>
        </h4> 
        <h3>method : POST</h3>
        <h5>INPUT - book name + person name + issue date (BOOK IS ISSUED)<br>
            OUTPUT - update the Transaction DB with these values
        </h5>
        <br>
    </div>
    <div style="text-align:left;margin-left: 40%;">
        <h4>
            <pre><xmp>5) /api/book_return</xmp><pre>
        </h4>
        <h3>method : POST</h3>
        <h5>INPUT - book name + person name + return date (BOOK IS RETURNED)<br>
            OUTPUT - calculate rent based on issue date and return date and update the 
            Transaction DB with these values
        </h5>
        <br>
    </div>
    <div style="text-align:left;margin-left: 40%;">
        <h4>
            <pre><xmp>6) /api/people_list<name></xmp><pre>
        </h4>
        <h3>method : GET</h3>
        <h5>INPUT - Book name<br>
            OUTPUT - List of people who have issued that book ( total count) + list of people 
            who currently have that book issued ( currently issued only).
        </h5>
        <br>
    </div>
    <div style="text-align:left;margin-left: 40%;">
        <h4>
            <pre><xmp>7) /api/total_rent<name></xmp><pre>
        </h4>
        <h3>method : POST</h3>
        <h5>INPUT - Book name<br>
            OUTPUT - Total rent generated by that book
        </h5>
        <br>
    </div>
    <div style="text-align:left;margin-left: 40%;">
        <h4>
            <pre><xmp>8) /api/booklist_peron<name></xmp><pre>
        </h4>
        <h3>method : GET</h3>
        <h5>INPUT - Person’s name<br>
            OUTPUT - List of books issued to that person
        </h5>
        <br>
    </div>
    <div style="text-align:left;margin-left: 40%;">
        <h4>
            <pre><xmp>9) /api/date_range/<mindate>/<maxdate></xmp><pre>
        </h4>
        <h3>method : GET</h3>
        <h5>INPUT - Date range<br>
            OUTPUT - list of books issued in that date range and the person they are issued to
        </h5>
        <br>
    </div>
</div>  
    <div>
        <h2>
            note:<br>
            plz sir for POST request you have to use <u>postman</u> and pass body in <u>json format</u>
            
        </h2>
        <h3>
            thank you so much for shortlisted me and give me task and i completed your task plz check it
        </h3>
    </div>
</body>
</html>